@import './common';
p, ul, li {
  margin: 0;
  padding: 0;
}
.search-form {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  display: flex;
  background-color: rgb(52, 64, 180);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);;
  margin-bottom: 20px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.info {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin: -10px;

}
.photo-card {
  flex-basis: calc((100% - 8*10px) / 4);
  margin: 10px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photo {
  height: 200px;
}

.load-more {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 64, 180);
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-color: rgb(52, 64, 180);;
}
.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}